.container {
    display: flex;
    flex-flow: column wrap;
  }
  
  /*.label {
    font-size: x-large;
    margin-bottom: 1rem;
    color:rgb(12, 12, 154);
    font-style: bold;
    font-weight: 900;
  }*/
  
  .input {
    padding: 2rem;
    font-size: 3rem;
    border-radius: 8px;
    height:0.8em;
  }
  